temp_gccflags.c
.sl73_gcc485/
*.consign
StRoot/StFwdTrackMaker/test.sh
StRoot/StFwdTrackMaker/macros/
StRoot/StFwdTrackMaker/README.md
*.root
*.fzd
everything.log
paw.metafile
StRoot/StFwdTrackMaker/FwdTrackerConfig_cxx_ACLiC_dict_rdict.pcm
StRoot/StFwdTrackMaker/FwdTrackerConfig_cxx.d
StRoot/StFwdTrackMaker/FwdTrackerConfig_cxx.so
tests/xmlreadfile_C_ACLiC_dict_rdict.pcm
tests/xmlreadfile_C.d
tests/xmlreadfile_C.so
tests/xmlreadfile.C
.vscode/settings.json
test.C
to-remove
presgeom.txt
star-sw/
work/LOG*
